# Procfile이 하지 못하는 일을 도와줌
files:
    "/sbin/appstart":
        mode: "000755" # 읽기, 쓰기 , 실행 권한 설정
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            pkill -f java
            java -Dfile.encoding=UTF-8 -Dspring.profiles.active=develop -jar $JAR_PATH